# bytecode
__pycache__/
*.py[cod]
*$py.class

# environments
.venv/
env/
venv/
ENV/

# databases / local config
*.db
*.sqlite3
.env
config.ini
logs/

# testing & coverage
.pytest_cache/
.coverage
htmlcov/

# ide settings
.vscode/
.idea/
.ruff_cache
/square_ttthree/data/config.testing.ini
